<!DOCTYPE html>
<head>
	<title>TweetPsychic</title>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<meta property="fb:admins" content="1164216443" />
	<link rel=stylesheet type="text/css" href="static/stylesheets/style.css" media="screen">
</head>


<body>
<div id="holder">

	<div id="header">
		<a href="/"> Home </a> |  
		<a href="/how">How We Do </a> |  
		<a href="/who">Who We Are </a>
	</div>

	<div id = "main">
		<img id="logo" src="static/images/male.jpg"><br>
		<form action="/telling" method="post" id="main_form">
			<input id = "handle" type = "text" name = "twitterHandle" value = "" maxlength="100" size="50" class="inputbox" placeholder = "Twitter handle" /><br><br>
			<input type="submit" id = "submit" value="TweetPsychic~" class = "input_button">
		<p id="text" style="color:DeepPink; font-weight: bold">Age: {{py_obj[0]}}<br>Gender: {{py_obj[1]}}</p>
		<img id = 'wordcloud' src = {{py_obj[2]}}>

	</div>		

</div>
</body>
</html>