alchemyapi-python==1.2.1
Flask==0.10.1
nltk==3.0.0
numpy==1.8.0
Pillow==3.0.0
pyenchant==1.6.6
requests==2.8.1
requests-oauthlib==0.5.0
scikit-learn==0.16.1
scipy==0.13.0
SVC==0.1
tweepy==3.5.0
wordcloud==1.2
git+git://github.com/jaredks/tweetokenize.git
