<!DOCTYPE html>
<head>
	<title>TweetPsychic</title>
	<link rel=stylesheet type="text/css" href="static/style_h.css" media="screen">
</head>


<body>
	<div id="holder">

	<div id="header">
		<a href="/"> Home</a> |  
		<a href="/how">How It Works </a> |  
		<a href="/who">Who We Are </a>
	</div>

	<div id = "main">
	  <p id = "title" style = "font-size:40px; color:MediumVioletRed; font-weight: bold">How It Works</p>
	  <iframe src="https://docs.google.com/a/columbia.edu/presentation/d/19SiWf_eeIDeEBEFcGuJbG0htS9pY0NFu2py7nD7U6JQ/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
	</div>
</body>
</html> 