<!DOCTYPE html>
<head>
	<title>TweetPsychic</title>
	<link rel=stylesheet type="text/css" href="static/style.css" media="screen">
</head>


<body>
<div id="holder">
	<div id="header">
		<a href="/"> Home </a> |  
		<a href="/how">How It Works </a> |  
		<a href="/who">Who We Are </a>
	</div>

	<div id = "main"><br><br>
		<img class='img-circle' src='static/logo.jpg'>
		<p id="text" style="font-style: italic">Let Psyduck predict your age and gender (when he can tell the difference) and generate a tweet cloud!
			<br>
			Disclaimer: Celebrities often don't tweet personally, so Psyduck may be wrong... Or surprisingly accurate!
		</p>
		<br>
		<form action="/" method="post" id="main_form">
			<input type = "text" name = "twitterHandle" value = "" maxlength="100" size="50" class="inputbox" placeholder = "Twitter Handle" /><br><br>
			<input type="submit" value="Enter" class = "input_button" onclick="loading()">
		</form>
	</div>		
</div>
<script>
function loading() {
    document.getElementById("main").innerHTML = "<br><br><br><img src='static/psyduck.gif'>";
}
</script>
</body>
</html>