<!DOCTYPE html>
<head>
	<title>TweetPsychic</title>
	<link rel=stylesheet type="text/css" href="/static/style_w.css" media="screen">
</head>


<body>
	<div id="holder">

	<div id="header">
		<a href="/"> Home</a> |  
		<a href="/how">How It Works </a> |  
		<a href="/who">Who We Are </a>
	</div>

	<div id="main">
	    <p style="font-size:40px; color:black; font-weight: bold">And We Are:</p>
	    <p style="font-size:20px; font-family:Enviro; color:black">This website was developed for the Q&A for IBM Watson (COMSE6998) project at Columbia University</p>
	    <br>
	    <p style="font-size:20px; font-family:Enviro; color:black"> The Team: </p>
	    <p id = "names">
	    	Cheyenne Parsley - Leader/Developer<br>
		    Aquila Khanam - Tester/Developer<br>
		    Keerthana Kumar - Tester/Developer<br>
		    Bella Y. Wang - UI/Developer<br>
		    Frisia Y. Xue - UI/Developer<br>
			Alfio M. Gliozzo - Mentor</p>
	    <p style="color:black; font-family:pixie">Please feel free to contact us if you have further questions!</p>
	</div>
</body>
</html>