<!DOCTYPE html>
<head>
	<title>TweetPsychic</title>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<meta property="fb:admins" content="1164216443" />
	<link rel=stylesheet type="text/css" href="/static/style_w.css" media="screen">
</head>


<body>
	<div id="holder">

	<div id="header">
		<a href="/"> Home</a> |  
		<a href="/how">How We Do </a> |  
		<a href="/who">Who We Are </a>
	</div>

	<div id="main">
	    <p style="font-size:40px; color:MediumVioletRed; font-weight: bold">And We Are:</p>
	    <p style="font-size:20px; font-family:Enviro; color:MediumVioletRed">This website is developed under the Q&A for IBM Watson (COMSE6998) project.</p>
	    <p style="font-size:20px; font-family:Enviro; color:MediumVioletRed"> The following people were involved: </p>
	    <p id = "names">
	    	Cheyenne Parsley - Leader/Developer<br>
		    Aquila Khanam - Tester/Developer<br>
		    Keerthana Kumar - Tester/Developer<br>
		    Bella Y. Wang - UI/Developer<br>
		    Frisia Y. Xue - UI/Developer<br>
			Alfio M. Gliozzo - Mentor</p>
	    <p style="color:MediumVioletRed; font-family:pixie">Please feel free to contact us if you have further question!</p>
	</div>
</body>
</html>